* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD9601;
}

button {
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
    background-color: #6F6F6F;
    color: #FDFDFD;
    transition: opacity 300ms;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.2;
}

.calculator-background {
    display: flex;
    flex-direction: column;
    background-color: #363636;
    padding: 40px;
    border-radius: 20px;
    gap: 40px;
}

#display {
    height: 80px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #CACACA;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#clear,
#all-clear {
    background-color: #CE3201;
}

#plus {
    flex-grow: 2;
}
